<template>
    <div>
        <article class="media">
            <figure class="media-left">
                <router-link
                    v-if="comment.author.avatar"
                    class="image is-48x48 is-square"
                    :to="{ name: 'user-page', params: { id: comment.author.id } }"
                >
                    <img class="is-rounded fit" :src="comment.author.avatar">
                </router-link>

                <router-link v-else :to="{ name: 'user-page', params: { id: comment.author.id } }">
                    <DefaultAvatar class="image is-48x48" :user="comment.author" />
                </router-link>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>
                            {{ comment.author.firstName }} {{ comment.author.lastName }}
                        </strong>
                        <br>
                        {{ comment.body }}
                        <br>
                        <small class="has-text-grey">
                            {{ comment.created | createdDate }}
                        </small>
                    </p>
                </div>
                <div v-if="owner" class="buttons">
                    <button type="button" class="button is-warning" @click="onEditComment">
                        <font-awesome-icon icon="edit" />
                        <span>Edit</span>
                    </button>
                    <button type="button" class="button is-danger" @click="onDeleteComment">
                        <font-awesome-icon icon="trash" />
                        <span>Delete</span>
                    </button>
                </div>
            </div>
        </article>

        <b-modal :active.sync="isEditTweetModalActive" has-modal-card>
            <EditCommentForm :comment="comment" />
        </b-modal>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import EditCommentForm from './EditCommentForm.vue';
import DefaultAvatar from '../../common/DefaultAvatar.vue';
import showStatusToast from '../../mixin/showStatusToast';

export default {
    name: 'Comment',

    components: {
        EditCommentForm,
        DefaultAvatar,
    },

    mixins: [showStatusToast],

    data: () => ({
        isEditTweetModalActive: false,
    }),

    props: {
        comment: {
            type: Object,
            required: true,
        },
        owner: {
            type: Boolean,
            default: false,
        },
    },

    methods: {
        ...mapActions('comment', [
            'deleteComment',
        ]),

        onEditComment() {
            this.isEditTweetModalActive = true;
        },

        onDeleteComment() {
            this.$buefy.dialog.confirm({
                title: 'Delete Comment',
                message: 'Are you sure you want to <b>delete</b> your comment? This action cannot be undone.',
                confirmText: 'Delete Comment',
                type: 'is-danger',

                onConfirm: async () => {
                    try {
                        await this.deleteComment(this.comment.id);
                        this.showSuccessMessage('Comment deleted!');
                        this.$emit('delete', this.comment.id);
                    } catch (e) {
                        this.showErrorMessage('Unable to delete comment!');
                    }
                }
            });
        },
    },
};
</script>

<style lang="scss" scoped>
nav {
    margin-left: -8px;
}

.content {
    p {
        margin-bottom: 0;
    }
}
</style>
