<template>
    <div class="modal-card" @keyup.ctrl.exact.enter="save">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit</p>
        </header>

        <section class="modal-card-body">
            <div class="error has-text-danger" v-if="errorMessage">{{ errorMessage }}</div>

            <b-field label="Text">
                <b-input type="textarea" v-model="text" :placeholder="comment.body" />
            </b-field>
        </section>

        <footer class="modal-card-foot">
            <b-button type="is-primary" :disabled="!text.trim()" @click="save">
                Save
            </b-button>
        </footer>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'EditCommentForm',

    props: {
        comment: {
            type: Object,
            required: true
        }
    },

    data: () => ({
        text: '',
        errorMessage: ''
    }),

    methods: {
        ...mapActions('comment', [
            'editComment',
        ]),

        async save() {
            try {
                await this.editComment({ id: this.comment.id, text: this.text });

                this.$parent.close();
            } catch (error) {
                this.showErrorMessage(error.message);
            }
        },

        showErrorMessage(msg) {
            this.errorMessage = msg;
        }
    },
};
</script>

<style scoped>

</style>